<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.ilemon.rightsmanagement.dao.IUserDao">
	<resultMap id="userMap" type="site.ilemon.rightsmanagement.entity.User" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		
	</resultMap>
	
	<select id="listUser" resultMap="userMap" parameterType="site.ilemon.rightsmanagement.util.SearchCondition">
		select 	* from t_user
		<where>
			<if test="searchKeyword != null">
				username like "%"#{searchKeyword}"%"
			</if>
		</where>
		limit #{startRow},#{endRow}
	</select>
	
	<select id="countUser" 
		resultType="java.lang.Integer" 
		parameterType="site.ilemon.rightsmanagement.util.SearchCondition">
		select 	count(*) from t_user
		<where>
			<if test="searchKeyword != null">
				username like "%"#{searchKeyword}"%"
			</if>
		</where>
	</select>
	
	<select id="getUserByName" resultMap="userMap">
		select 	* from t_user where username = #{username}
	</select>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into t_user(username,password,email,mobile,address)
		values(#{username},#{password},#{email},#{mobile},#{address})
	</insert>
	
	<select id="getFreqOfCreateUser" resultType="java.util.Map">
		select count(*) count,DATE_FORMAT(create_time, '%Y-%m-%d') as createTime  from t_user group by create_time
	</select>
	
	
</mapper>