<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>分配权限</title>
	<link href="/css/bootstrap-treeview.css" rel="stylesheet">
	
</head>

<body>
	<div th:include="header :: head"></div>
	<script src="/js/bootstrap-treeview.js"></script>
	<div id="tree"></div>
	<script th:inline="javascript">
	    var message = [[${permissions}]];
	    console.log(message);
	    $('#tree').treeview(
	    		{
	    			levels: 1,
	        		expandIcon: 'glyphicon glyphicon-chevron-right',
		    		collapseIcon: 'glyphicon glyphicon-chevron-down',
		    		nodeIcon: 'glyphicon glyphicon glyphicon-th-list',
		    		selectedBackColor: false,
		    		selectedColor: '#337AB7',
		    		showCheckbox: 1,//这里之所以写1，是因为我引得js源码里定义1为true
		    		multiSelect: 1,//这里之所以写1，是因为我引得js源码里定义1为true
		    		data: message
	    		}
	    );
	   
	
	   
	    
	    
</script>

</body>
</html>