<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户列表</title>
<!-- 
<link rel="stylesheet" type="text/css"
	th:href="${'/css/bootstrap.min.css'}" media="all" />
<link rel="stylesheet" type="text/css"
	th:href="${'/css/bootstrap-theme.min.css'}" media="all" />
<script type="text/javascript" th:href="${'/js/jquery.2.0.0.js'}"></script>
<script type="text/javascript" th:href="${'/js/bootstrap.min.js'}"></script>
 -->
</head>
<body>
	<div th:include="header :: head"></div>
	<h2>welcome!</h2>
</body>
</html>