<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户列表</title>

<style>
.center {
  text-align: center;
}
.right {
	display:inline;
  text-align: right;
  margin-right: 10px;
  float: right;
}
.left {
	display:inline;
  text-align: left;
  margin-left: 10px;
  float: left;
}

 .clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
  .clearfix { *zoom:1; }
</style>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
	<div th:include="header :: head"></div>
	
	<form id="pageForm" th:action="@{/user/users}" method="get">
		<input type="hidden" id="currentPage" name="currentPage" th:value="${users.currentPage}"/>
		<input type="hidden" id="pageSize" name="pageSize" th:value="${users.pageSize}"/>
		<input type="hidden" id="userId" name="userId"/>
	</form>
	<div class="left">
		显示<span th:text = "${users.totalRecord}"></span>条中的第
		<span th:text = "${users.startRow+1}"></span>条
		<span>到第</span>
		<span th:text = "${users.endRow}"></span>条		
	</div>
	<div class="right">
		<!-- <form th:action="@{/user/redirectAddUser}" method = "get">
			<button type="submit" class="btn btn-primary">新增用户</button>
		</form> -->
	<button type="submit" class="btn btn-primary">新增用户</button>
		
	</div>
	<div style="margin-left: 10px;margin-right: 10px;">
		<table class="table table-bordered" >
		<thead>
			<tr>
				<th>用户编号</th>
				<th>用户名</th>
				<th>电子邮箱</th>
				<th>联系电话</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users.list}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.mobile}"></td>
				<td th:text="${user.address}"></td>
				<td>
					<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal"
					th:onclick="'javascript: showModel('+${user.id}+')'">分配角色</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="left">
		每页显示
		<select class="form-control" id ="pageSizeSelect">
			<option th:each="pageSize:${users.pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:if="${pageSize } == ${users.pageSize}" th:selected="selected"></option>
			<option th:each="pageSize:${users.pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:if="${pageSize } != ${users.pageSize}"></option>
		</select>
	</div>
	<div class="right">
		<nav aria-label="...">
		<ul class="pagination justify-content-center pagination-lg">
		 	<li th:class="${users.firstPage} ? 'disabled':''" style="display:inline">
                <span th:if="${users.firstPage}">←首页</span>
                <a th:if="${not users.firstPage}" th:href="@{'users?currentPage=1'+'&pageSize='+${users.pageSize}}">←首页</a>
            </li>
		    <li class="page-item" th:each="i : ${#numbers.sequence(1,users.totalPage)}"
		    th:class="(${i}==${users.currentPage})? 'active' : ''" style="display:inline">
		    	<span th:if='${i}==${users.currentPage}' th:text='${i}'></span>
                    <a th:if='${i}!=${users.currentPage}' th:href="@{'users?currentPage=' + ${i} +'&pageSize='+${users.pageSize}}">
                        <span th:text='${i}'></span>
                    </a>
		    </li>
		    <li th:class="${users.lastPage} ? 'disabled':''" style="display:inline">
                <span th:if="${users.lastPage}">尾页➝</span>
                <a th:if="${not users.lastPage}" th:href="@{'users?currentPage=' + ${users.totalPage}+'&pageSize='+${users.pageSize}}">尾页➝</a>
            </li>
	  </ul>
	</nav>
	</div>
	 <button type="button" class="btn btn-default btn-lg" id="button1">Click to hide</button>
      <div class="modal fade" id="myModel" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					角色列表
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
				    <div class="col-xs-5">
				        <select name="from[]" id="undo_redo" class="form-control" size="13" multiple="multiple">
				        </select>
				    </div>
				    
				    <div class="col-xs-2">
				        <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
				        <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
				        <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
				        <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
				        <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
				        <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
				    </div>
				    
				    <div class="col-xs-5">
				        <select name="to[]" id="undo_redo_to" class="form-control" size="13" multiple="multiple"></select>
				    </div>
				</div>
			</div>
			<div class="modal-footer" style="clear:both">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button id="saveUserRolesBtn" type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	<script type="text/javascript" src="/js/multiselect.min.js"></script>
	<script type="text/javascript">
		
	$("#pageSizeSelect").change(function(){
		var pageSize = $("#pageSizeSelect").val();
		$("#pageSize").val(pageSize);
		$("#pageForm").submit();
	});
	
	
	// when DOM is ready
	$(document).ready(function () {
		$('#undo_redo').multiselect();
		$("#saveUserRolesBtn").bind("click",function(){
			var array = new Array();
		    $("#undo_redo_to option").each(function(){
	          	var value = $(this).val();   //获取option值   
	          	array.push(value);
		    });
			if(array.length == 0){
				alert("所选角色不能为空");
				return;
			}
			for(i in array){
				alert(array[i]);
			}
			var data = new Object();
			data.userId = $("#userId").val();
			data.roles = array;
			$.ajax({
				url:'/role/updateUserRole',
				type:'PUT',
				contentType: "application/json; charset=utf-8",
		        data: JSON.stringify(data),
		        dataType: "json",
		        beforeSend: function(request) {
		        	var token = $("meta[name='_csrf']").attr("content");
		        	var header = $("meta[name='_csrf_header']").attr("content");
					request.setRequestHeader(header, token);
                },
		        success: function (data) {
		        	alert("修改成功");
		        	var roleId = data.roleId;
	                window.location.href="permission?roleId="+roleId;
		        },
		        error: function (message) {
		            alert("error");
		        }
			});
		});
	   
	});
	var alreadyRoles = new Array();
	 function showModel(id){
		$('#myModel').modal('show');
		$("#userId").val(id);
		$.ajax({
			url:'/role/getRolesByUserId?userId='+id,
			type:'GET',
			contentType: "application/json; charset=utf-8",
	        dataType: "json",
	        async:false, 
	        success: function (data) {
	        	alreadyRoles = data;
	        	var htmlOption = "";
	        	for( i in alreadyRoles){
	        		htmlOption += "<option value=\""+alreadyRoles[i].id+"\">"+alreadyRoles[i].roleName+"</option>";
	        	}
	        	$("#undo_redo_to").html(htmlOption);
	        },
	        error: function (message) {
	            alert("error");
	        }
		});
		$.ajax({
			url:'/role/role',
			type:'GET',
			contentType: "application/json; charset=utf-8",
	        dataType: "json",
	        async:false, 
	        success: function (data) {
	        	var htmlOption = "";
	        	
	        	var nArray = null;
	        	for( i in alreadyRoles){
	        		if(nArray == null)
	        			nArray = contains(data,alreadyRoles[i]);
	        		else
	        			nArray = contains(nArray,alreadyRoles[i]);
	        	}
	        	if( nArray == null)
	        		nArray = data;
				for( i in nArray){// 1,2,3,4,5
   					htmlOption += "<option value=\""+nArray[i].id+"\">"+nArray[i].roleName+"</option>";		
					        		
	        	}
	        	$("#undo_redo").html(htmlOption);
	        },
	        error: function (message) {
	            alert("error");
	        }
		});
	}
	 
	function contains(array,val){
		var newArray = new Array();
		for( i in array){
			if( array[i].id != val.id)
				newArray.push(array[i]);
		}
		return newArray;
	}
	
	</script>
	
</body>
</html>