<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户列表</title>
<link rel="stylesheet" type="text/css"
	th:href="${'/css/bootstrap.min.css'}" media="all" />
<link rel="stylesheet" type="text/css"
	th:href="${'/css/bootstrap-theme.min.css'}" media="all" />
<script type="text/javascript" th:href="${'/js/jquery.2.0.0.js'}"></script>
<script type="text/javascript" th:href="${'/js/bootstrap.min.js'}"></script>
</head>
<body>
	<div th:include="header :: head"></div>
	<form th:action="@{/user/redirectAddUser}" method = "get">
		<button type="submit" class="btn btn-primary">新增用户</button>
	</form>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>用户编号</th>
				<th>用户名</th>
				<th>电子邮箱</th>
				<th>联系电话</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.mobile}"></td>
				<td th:text="${user.address}"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<ul class="pagination pagination-lg">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
	
</body>
</html>